@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}
:root {
    --accent-clr-primary: #E50914;
    --accent-clr-secondary: #B20710;
    --text-clr-primary: #ffffff;
    --text-clr-secondary: rgba(255,255,255,0.7);
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,7) 0%, rgba(0,0,0,0.7) 100%, rgba(9,9,121,0.7) 100%, rgba(0,0,0,0.7) 100%), url(img/background.jpg);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.dropdown-signin {
    display: flex;
    gap: 5px;
    align-items: center;
}

.signIn {
    height: 35px;
    width: 80px;
    margin-right: 10px;
    background-color: var(--accent-clr-primary);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px;
    transition: background-color .1s ease-in;
    cursor: pointer;
    }

    .signIn:hover {
        background-color: var(--accent-clr-secondary);
    }

    .dropdown select {
        height: 30px;
        width: 100px;
        color: rgb(255, 255, 255);
        background: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
        font-weight: 500;
    }

.logo img {
    height: 100px;
    width: 200px;
}

/* Main Section */

.container {
    height: calc(100vh - 120px);
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    margin-left: 6rem;
}

.container h1 {
    color: var(--text-clr-primary);
    font-size: 3rem;
}

.container h3 {
    color: var(--text-clr-primary);
    font-weight: 400;
}

.container p {
    color: var(--text-clr-secondary);
    font-weight: 400;
    margin-top: 10px;
}


.input{
    height: 50px;
    width: 350px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding-left: 8px; 
    transition: all .5s ease;
}

.input::placeholder {
color: var(--text-clr-secondary);
font-weight: lighter;
font-size: 16px;
}

.getStarted  {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--accent-clr-primary);
    outline: none;
    border: none;
    color: var(--text-clr-primary);
    font-weight: 700;
    font-size: 18px;
    transition: background-color .1s ease-in;
    cursor: pointer;
}

.getStarted:hover {
    background-color: var(--accent-clr-secondary);
}