@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}
:root {
    --accent-clr-primary: #E50914;
    --accent-clr-secondary: #B20710;
    --text-clr-primary: #ffffff;
    --text-clr-secondary: rgba(255,255,255,0.7);
}

body {
    background: linear-gradient(90deg, rgba(0,0,0,7) 0%, rgba(0,0,0,0.7) 100%, rgba(9,9,121,0.7) 100%, rgba(0,0,0,0.7) 100%), url(img/background.jpg);
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.dropdown-signin {
    display: flex;
    gap: 5px;
    align-items: center;
}

.signIn {
    height: 35px;
    width: 80px;
    margin-right: 10px;
    background-color: var(--accent-clr-primary);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 3px;
    transition: background-color .1s ease-in;
    cursor: pointer;
    }

    .signIn:hover {
        background-color: var(--accent-clr-secondary);
    }

    .dropdown select {
        height: 30px;
        width: 100px;
        color: rgb(255, 255, 255);
        background: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
        font-weight: 500;
    }

.logo img {
    height: 100px;
    width: 200px;
}

/* Main Section */

.container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    margin-left: 140px;
    margin-right: 140px;
}

.container h1 {
    color: var(--text-clr-primary);
    font-size: 3rem;
}

.container h3 {
    color: var(--text-clr-primary);
    font-weight: 400;
}

.container p {
    color: var(--text-clr-secondary);
    font-weight: 400;
    margin-top: 10px;
}


.input{
    height: 50px;
    width: 350px;
    background: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding-left: 8px; 
    transition: all .5s ease;
}

.input::placeholder {
color: var(--text-clr-secondary);
font-weight: lighter;
font-size: 16px;
}

.getStarted  {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--accent-clr-primary);
    outline: none;
    border: none;
    color: var(--text-clr-primary);
    font-weight: 700;
    font-size: 18px;
    transition: background-color .1s ease-in;
    cursor: pointer;
}

.getStarted:hover {
    background-color: var(--accent-clr-secondary);
}

.info {
    background-color: black;
    height: 100vh;
}

.info hr {
    background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%); 
    height: 5px;
}
 
.plans-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.plans {
    height: 130px;
    border-radius: 10px;
    background: rgb(228, 217, 226);
    background: linear-gradient(90deg, rgba(126,24,111,1) 0%, rgba(63,12,56,1) 24%, rgba(0,0,0,1) 100%, rgba(194,31,129,0.8701680501302084) 100%, rgba(9,9,121,1) 100%); 
    width: 80%;
    transition: all .3s ease-in;
    opacity: 0.7;
}

.plans:hover {
    transform: scale(1.05);
    opacity: 1;
}

.plans h2, p {
    margin: 20px 20px;
}

.info h2, h3{
    color: var(--text-clr-primary);
}

.info p {
    color: var(--text-clr-secondary);
}

.reason-heading {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 140px;
    font-weight: 700;

}

.reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 140px;
    margin-right: 140px;
    flex: 1;
}

.reasons div {
    height: 300px;
    width: 300px;
    padding: 20px 10px;
    background: rgb(88,21,163);
    background: linear-gradient(143deg, rgba(88,21,163,1) 0%, rgba(6,1,19,1) 92%, rgba(0,0,0,1) 100%); 
    opacity: 0.8;
    border-radius: 10px;
}

.reasons div h3 {
    margin-left: 1rem;
}

.faq-section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.faq-section {
    height: 100vh;
    color: var(--text-clr-primary);
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
}

.faq {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(53, 52, 52);
    transition: opacity .3s ease-in;
    opacity: 0.8;
}

.faq:hover {
    opacity: 1;
}

.faq h3 {
    font-weight: 400;
    font-size: 23px;  
}

.faq span {
    font-size: 50px;
    font-weight: 400;
}

.faq-desc {
    height: inherit;
    width: inherit;
    background-color: inherit;
    font-size: 1.5rem;
    display: none;
    opacity: 0.8;
}

.footer {
    height: 100%;
    margin-left: 140px;
    background-color: black;
    margin-top: 30px;
}

.footer p {
    color: var(--text-clr-secondary);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.Questions {
    margin-top: 100px;
}

.footer-links {
    color: var(--text-clr-secondary);
    display: flex;
    gap: 100px;
}

.footer-links ul li {
    list-style-type: none; 
    margin-top: 25px;
}

.footer-links a {
    margin-top: 10px;
    color: var(--text-clr-secondary);
    margin-bottom: 5px;
}

.footer-links ul li {
    margin-bottom: 5px;
}

 .footer .dropdown select {
        height: 30px;
        width: 100px;
        color: rgb(255, 255, 255);
        background: transparent;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-right: 5px;
        text-align: center;
        font-weight: 500;
        margin-top: 50px;
     }



